/* General Reset */

body {
  font-family: "Inter", sans-serif;
  background-color: #00000065; /* Dark Navy */
  color: #ffffff;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

/* 1. Sidebar Navigation */
header {
  width: 15%;
  height: 100vh;
  background-color: #c5c5c5;
  border-right: 1px solid #334155;
  padding: 50px 30px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #616161;
  margin-bottom: 4rem;
}

.sidebarcontainer {
  list-style: none;
  font-size: larger;
  margin-bottom: 1rem;
}

.sidebar {
  display: flex;
  align-items: center;
  gap: 10px; /* space between icon and text */
}

.icon {
  width: 20px;
  height: 20px;
}

/* 2. Main Content Container */
main {
  margin-left: 17.5rem;
  width: 100%;
  display: flex;
  padding: 3.75rem;
  gap: 3.125rem;
}

/* Left Column: The Questions */
.questions-column {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-box {
  background-color: #686868;
  padding: 2.5rem;
  border-radius: 16px;
  border: 1px solid #2b2b2b;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/*replace h2 with it's own class*/
.question {
  font-size: 1.25rem;
  margin-bottom: 0.9375rem;
  color: #000000;
  border-left: 4px solid #8f8f8f;
  padding-left: 0.9375rem;
}

.placeholder {
  color: #c2c2c2;
  font-style: italic;
  line-height: 1.6;
}

/* Right Column: The Image Area */

.image-column {
  flex: 0.8;
  display: flex;
  align-items: flex-start;
}

.profile-container {
  width: 100%;
  max-width: 100%;
  position: sticky;
  top: 60px;
}

.profile-frame {
  width: 70%;
  aspect-ratio: 4 / 5;
  background-color: #334155;
  border: 2px dashed #475569;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-frame img {
  width: 100%;
  object-fit: cover;
}

/* Responsive design for tablets and phones */
@media (max-width: 1024px) {
  body {
    flex-direction: column;
  }
  header {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
    border-bottom: 1px solid #334155;
  }
  main {
    margin-left: 0;
    flex-direction: column;
    padding: 1.875rem;
  }
  .profile-container {
    position: relative;
    top: 0;
    max-width: 100%;
  }
  .image-column {
    order: -1;
  }
}
