/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #00000065;
  color: white;
  min-height: 100vh;
  display: flex;
}


/* =========================
   MAIN LAYOUT
========================= */

main {
  margin-left: 17rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

/* =========================
   CONTACT BOX
========================= */

.contact-wrapper {
  width: 100%;
  max-width: 50rem;

  background-color: #686868;
  padding: 2rem;
  border-radius: 1rem;
  border: 0.0625rem solid #2b2b2b;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);

  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.subtitle {
  margin-bottom: 2rem;
  color: #e0e0e0;
  line-height: 1.6;
}

/* CONTACT INFO */

.contact-info {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.info-box {
  background-color: #c5c5c5;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 12rem;
  border: 0.0625rem solid #334155;
}

.info-box h3 {
  color: #000;
  margin-bottom: 0.5rem;
}

.info-box p {
  color: #2b2b2b;
}

/* AVAILABILITY */

.availability {
  background-color: #c5c5c5;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 0.0625rem solid #334155;
  text-align: left;
}

.availability h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: #000;
}

.availability ul {
  list-style: none;
  color: #2b2b2b;
  line-height: 1.8;
}

/* MOBILE */

@media (max-width: 64rem) {
  header {
    width: 100%;
    height: auto;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    margin-left: 0;
    margin-top: 10rem;
    padding: 1.5rem;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
  }
}
