header {
  width: 12%;
  min-width: 1%;
  height: 100vh;
  background-color: #c5c5c5;
  border-right: 0.0625rem solid #334155;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #616161;
  text-align: center;
  margin-bottom: 1rem;
}

.sidebarcontainer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}

.sidebar:hover {
  color: #000000;
  background-color: #8f8f8f;
  border-radius: 0.5rem;
  transition: 0.2s ease;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}
